.card {
  $this: &;

  position: relative;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;

  &__header {
    position: relative;
    height: 174px;
    overflow: hidden;
  }

  &__img {
    @include img-cover;
  }

  &__badge {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0.75rem;
  }

  &__link {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $primary-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__content {
    color: $text-color-level-2;
  }
}
