.card {
  $this: &;

  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;

  &__header {
    position: relative;
    height: 174px;
    overflow: hidden;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__badge {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0.75rem;
  }

  &__link {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $primary-color;
    }
  }

  &__content {
    color: $text-color-level-2;
  }

  &__favorite {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    border: 0;
    background: none;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
  }

  &__heart {
    transition: clip-path 0.5s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    #{$this}__favorite:hover & {
      clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    }

    &--filled {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // Background color with gradient
      @include bg-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // Filling up animation
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 100% 100%);

      #{$this}__favorite:hover & {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
  }
}
